:root {
  --cols: 5;
  --col_gap: 10px;
}

body {
  background: #181820;
  color: #dddddd;
  width: 80%;
  margin: auto;
  font-family: Arial !important;
}

a {
  color: #8888ff;
}

a:hover {
  color: #ffaaff;
}

.mcol_ul {
  counter-reset: section;
  -moz-column-count: var(--cols);
  -moz-column-gap: var(--col_gap);
  -webkit-column-count: var(--cols);
  -webkit-column-gap: var(--col_gap);
  column-count: var(--cols);
  column-gap: var(--col_gap);
}

.mcol_li {
  padding-left: 0px;
  position: relative;
}

.mcol_li:before {
  couner-increment: section;
  counter: counter(section) ".";
  margin: 0 0 0 -34px;
  text-align: right;
  width: 2em;
  display: inline-block;
  position: absolute;
  height: 100%;
}

.tabbed [type="radio"] {
  display: none;
}

.tabbed {
  padding: 0;
}

.tabs {
  padding: 0;
  display: flex;
  align-items: flex-start;
  list-style: none;
}

.tab > label {
  display: flex;
  margin-bottom: -1px;
  padding: 0px 8px;
}

.tab-content {
  display: none;
}

.title {
  align-items: end;
  display: flex;
  padding: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
}

.site_icon {
  padding: 0px 8px;
}

.search {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  justify-items: center;
  align-items: center;
  background: #ffffff18;
}

.search_res {
  display: block;
  position: relative;
  justify-content: start;
  width: 100%;
  height: 100%;
  z-index: 31;
  overflow-y: scroll;
}

.search_in {
  display: flex;
  justify-content: top;
  align-items: center;
  position: relative;
  left: 10%;
  top: 10vh;
  height: 80vh;
  width: 80%;
  flex-direction: column;
  z-index: 31;
  border: 1px solid #ccc;
  border-radius: 1.5%;
  background: #181818ff;
}

.search_in > input {
  margin-top: 1em;
  color: #f00;
}

.cover {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 30;
}
