:root {
  --cols: 5;
  --col_gap: 10px;
}

body {
  background: #181820;
  color: #dddddd;
  width: 75%;
  margin: auto;
  font-family: Arial !important;
}

a {
  color: #8888ff;
}

a:hover {
  color: #ffaaff;
}

.mcol_ul {
  counter-reset: section;
  -moz-column-count: var(--cols);
  -moz-column-gap: var(--col_gap);
  -webkit-column-count: var(--cols);
  -webkit-column-gap: var(--col_gap);
  column-count: var(--cols);
  column-gap: var(--col_gap);
}

.mcol_li {
  padding-left: 0px;
  position: relative;
}

.mcol_li:before {
  couner-increment: section;
  counter: counter(section) ".";
  margin: 0 0 0 -34px;
  text-align: right;
  width: 2em;
  display: inline-block;
  position: absolute;
  height: 100%;
}

.tabbed [type="radio"] {
  display: none;
}

.tabs {
  padding: 0;
  display: flex;
  align-items: flex-start;
  list-style: none;
}

.tab > label {
  display: flex;
  margin-bottom: -1px;
  padding: 0px 8px;
}

.tab-content {
  display: none;
}

.title {
  align-items: end;
  display: flex;
  padding: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
}

.site_icon {
  padding: 0px 8px;
}

